<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Item to Session</title>
</head>
<body>

<form action="/addSessionItem" method="POST">
	
	<label for="sessionId">Select a Session ID:</label>
	<select id="sessionId" name="sessionId">
		<option th:each="thisSession : ${sessions}"
				th:value=${thisSession.sessionId}
				th:text="${thisSession.sessionId} + ' - ' + ${thisSession.promptingEvent}">
		</option>
	</select>
	<br>
	
	<label for="category">Select a Category: </label>
	<select id="category" name="category">
		<option th:each="thisCategory : ${T(eic.model.Category).values()}"
				th:value="${thisCategory}"
				th:text="${thisCategory}">
		</option>
	</select>
	<br>
	
	<label for="description">Description: </label>
	<input type="text" id="description" name="description">
	<br>
	
	<label for="intensity">Intensity</label>
	<select id="intensity" name="intensity">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	<br>
	
	<input type="submit" name="finalAdd" value="Add and Exit">
	<input type="submit" name="addMore" value="Add and Add Another">
	
</form>

<a href="/index.html">Home</a>
<a href="createSession.html">Create a Session</a>

</body>
</html>