<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Item to Session</title>

<script>

const DESC_LENGTH = 100;

function validateForm(){
	
	var desc = document.forms["sessionItemForm"]["description"].value;
	var descErrorMessage = document.getElementById("descErrorMessage");
	
	var validForm = true;
	
	if(desc == ""){
		descErrorMessage.innerHTML = "Please enter a description.";
		validForm = false;
	} else if(desc.length > DESC_LENGTH){
		descErrorMessage.innerHTML = "Description cannot be more than 100 characters.";
		validForm = false;
	} else {
		descErrorMessage.innerHTML = "";
	}
	
	return validForm;
}

</script>

<link rel="stylesheet" type="text/css" href="/standardStyle.css">

</head>
<body>

<header>
	<h1>Emotional Intensity Continuum</h1>
	<img src="/brainBanner.png">
</header>

<nav>
	<a href="/index.html">Home</a>
	<a href="/inputSession">Create a Session</a>
	<a href="/addSessionItem">Add Session Item</a>
	<a href="/viewSessions">View Sessions</a>
</nav>

<main>
<h2>Add a Session Item</h2>
<form action="/addSessionItem" method="POST" name="sessionItemForm" onsubmit="return validateForm();">
	
	<label for="sessionId">Select a Session ID:</label>
	<select id="sessionId" name="sessionId">
		<option th:each="thisSession : ${sessions}"
				th:value=${thisSession.sessionId}
				th:text="${thisSession.sessionId} + ' - ' + ${thisSession.promptingEvent}">
		</option>
	</select>
	<br>
	
	<label for="category">Select a Category: </label>
	<select id="category" name="category">
		<option th:each="thisCategory : ${T(eic.model.Category).values()}"
				th:value="${thisCategory}"
				th:text="${thisCategory}">
		</option>
	</select>
	<br>
	
	<label for="description">Description: </label>
	<input type="text" id="description" name="description">
	<span id="descErrorMessage"></span>
	<br>
	
	<label for="intensity">Intensity</label>
	<select id="intensity" name="intensity">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	<br>
	
	<div class="">
		<input type="submit" name="submit" value="Add and Exit">
		<input type="submit" name="submit" value="Add and Add Another">
	</div>
</form>
</main>


</body>
</html>