<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Session</title>
</head>
<body>

	<form action="/inputSession" method="POST" name="sessionInputForm" onsubmit="return validateForm();>
	
		<label for= "promptingEvent">Prompting Event: </label>
		<input id="promtingEvent" name="promptingEvent" size="50"> <br />
		
		<table>
			<tr>
				<th>Event Time and Date: </th>
				<td><input type="text" id="eventDate" name="eventDate"></td>
			</tr>
		</table><br>
		
		<input name="submit" type="submit" value="submit" />
	
	</form>
	<a href="viewAllForms">View All Your Forms</a>
	<br>
	<a href="updateForm">Update A Form</a>
	<br>
	<a href="createSessionItem">Create A Session Item</a>
	<br>

</body>
</html>