<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Session</title>
</head>
<body>

	<form action="//inputSession" method="POST">
	
		<label for="promptingEvent">Prompting Event: </label>
		<input id="promtingEvent" name="promptingEvent" size="50"> <br />
		
		<table>
			<tr>
				<th>Event Time and Date: </th>
				<td><input type="text" name="eventDate" value="YYYY-MM-DD"></td>
			</tr>
		</table><br>
		
		<input name="submit" type="submit" value="submit" />
	
	</form>
	<a href="">View All Your Forms</a>
	<br>
	<a href="">Update A Form</a>
	<br>
	<a href="">Create A Session Item</a>
	<br>

</body>
</html>