@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    background-color: dodgerblue;
    font-family: 'Nunito', sans-serif;
}

main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightskyblue;
    padding: 10px;
}

header h1{
    text-align: center;
    color: ghostwhite;
}

header img{
    width: 100%;
}

main h2{
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

main h3{
    padding-bottom: 2px;
    border-bottom: 1px dashed black;
}

nav  {
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    border-left: 12px solid ghostwhite;
}

nav li {
    display:inline;
    padding-right:40px;
}

nav a  {
    color:white;
    text-decoration:none;
    padding: 10px;
}

nav a:hover {
    color: yellow;
    background-color:lightskyblue;
    padding: 4px 8px;
}

table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table td{
    border: 1px solid black;
    text-align: center;
}

table th{
    background-color: black;
    color: ghostwhite;
}


label{
    font-weight: bold;
    margin: 5px;
}

input{
	margin: 5px;
}

button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;
}

button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}